.white-background-color {
  background: white none repeat scroll 0 0;
}
.center {
  text-align: center;
}
.hidden {
  display: none;
}
.panel {
  background: white none repeat scroll 0 0;
}
.page {
  background: white none repeat scroll 0 0;
}
.img-responsive {
  max-width: 100%;
  height: auto;
}
.normal-font {
  font-size: 12px;
}
.modal-title {
  font-size: 14px;
}
.modal .preloader {
  height: 20px;
  width: 20px;
}
.red-background-color {
  background: #cc3333 none repeat scroll 0 0;
}
.theme-wd {
  -webkit-box-shadow: 2px 2px 6px #cc3333;
  -moz-box-shadow: 2px 2px 6px #cc3333;
  box-shadow: 2px 2px 6px #cc3333;
  opacity: 1;
}
.theme-wd a {
  color: #cc3333;
}
.wd-title {
  background-image: url('/img/wd/wd_title.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: 100px;
  height: 20px;
}
.navbar {
  background: #cc3333 none repeat scroll 0 0;
  height: 45px;
}
.navbar .center {
  line-height: normal;
}
.navbar::after {
  height: 0;
  background-color: #cc3333;
  opacity: 0;
}
.navbar a.icon-only {
  color: whitesmoke;
}
.p-category-list .list-block ul::before,
.p-category-list .list-block ul::after {
  background-color: #cc3333;
  opacity: 0.3;
}
.p-category-list .list-block .item-after {
  font-size: 12px;
}
.p-category-list .list-block .item-inner::after {
  background-color: #cc3333;
  opacity: 0.3;
}
.p-category-list .list-block .item-text {
  font-size: 12px;
  height: auto;
  line-height: normal;
}
.p-category-list .list-block .item-content:hover {
  background-color: mistyrose;
}
.p-category-list .list-block .item-link:active,
.p-category-list .list-block .item-link.active-state {
  background-color: mistyrose;
}
.p-category-list .list-block .active {
  background-color: mistyrose;
}
.logo-panel .content-block {
  margin: 0;
}
.logo-panel .content-block .content-block-inner {
  background: #f7f7f8 none repeat scroll 0 0;
  color: #000;
  padding: 40px 15px;
}
.logo-panel .content-block .content-block-inner .logo {
  border: 1px solid #cc3333;
  border-radius: 65px;
  height: 130px;
  margin: 0 auto;
  overflow: hidden;
  width: 130px;
}
.logo-panel .content-block .content-block-inner .code-img-container {
  padding: 0;
}
.swiper-slide .img-banner {
  width: 100%;
  height: 100%;
}
.swiper-slide span {
  text-align: center;
  display: block;
  margin: 20px;
  font-size: 21px;
}
.swiper-container {
  height: 150px;
}
.swiper-pagination-bullet {
  cursor: pointer;
}
.swiper-pagination-bullet-active {
  background: #cc3333 none repeat scroll 0 0;
}
.page > .searchbar {
  background: #cc3333 none repeat scroll 0 0;
}
.page > .searchbar::after {
  background-color: #cc3333;
}
.page > .searchbar input[type="search"] {
  color: #cc3333;
}
.page > .searchbar .searchbar-cancel {
  color: whitesmoke;
  font-size: 15px;
  font-weight: bold;
}
.product-list-title {
  background: #cc3333 none repeat scroll 0 0;
  opacity: 0.6;
  font-size: 20px;
  font-weight: bold;
  color: whitesmoke;
  padding: 15px 10px;
  margin: 0;
  text-align: center;
}
.card {
  box-shadow: 0 1px 2px rgba(204, 51, 51, 0.5);
  -webkit-box-shadow: 0 1px 2px rgba(204, 51, 51, 0.5);
  -moz-box-shadow: 0 1px 2px rgba(204, 51, 51, 0.5);
}
.card-footer::before {
  background-color: #cc3333;
  opacity: 0.3;
}
.wd-card-header-pic .card-header {
  height: 60vw;
  background-color: mistyrose;
  background-size: cover;
  background-position: center;
}
.wd-card-header-pic .card-header h2 {
  background: rgba(204, 51, 51, 0.4) none repeat scroll 0 0;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0 -15px -10px;
  padding: 10px 15px;
  width: 100%;
  max-width: 100%;
  color: whitesmoke;
}
.normal-price {
  padding-right: 10px;
}
.deleted-price {
  text-decoration: line-through;
}
.discount {
  background-color: #cc3333;
  color: white;
  padding: 2px 8px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
}
.not-found {
  font-weight: bold;
  text-align: center;
  padding: 40px 20px;
  color: #cc3333;
  opacity: 0.6;
}
